<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">adm</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col >
        <div style="display: flex;">
          <div class="coloring-image-container">
            <img src="../../../assets/corpo-vermelho/frente.png" alt="Imagem de Colorir" class="coloring-image" >
            <img src="../../../assets/corpo/tronco-frente-removebg-preview.png" id="tronco-frente" class="coloring-image tronco-frente" >
            <img src="../../../assets/corpo/cabeça-frente-removebg-preview.png"  id="cabeça-frente" class="coloring-image cabeça-frente" >
            <img src="../../../assets/corpo/pescoço-frente-removebg-preview.png" id="pescoço-frente" class="coloring-image pescoço-frente" >
            <img src="../../../assets/corpo/biceps-direito-frente-removebg-preview.png" id="biceps-direito-frente" class="coloring-image biceps-direito-frente" >
            <img src="../../../assets/corpo/biceps-esquerdo-frente-removebg-preview.png" id="biceps-esquerdo-frente" class="coloring-image biceps-esquerdo-frente" >
            <img src="../../../assets/corpo/antebraço-direito-frente-removebg-preview.png" id="antebraco-direito-frente" class="coloring-image antebraco-direito-frente" >
            <img src="../../../assets/corpo/antebraço-esquerdo-frente-removebg-preview.png" id="antebraco-esquerdo-frente" class="coloring-image antebraco-esquerdo-frente" >
            <img src="../../../assets/corpo/mao-direito-frente-removebg-preview.png" id="mao-direito-frente" class="coloring-image mao-direito-frente" >
            <img src="../../../assets/corpo/mao-esquerdo-frente-removebg-preview.png" id="mao-esquerda-frente" class="coloring-image mao-esquerda-frente">
            <img src="../../../assets/corpo/genitalia-frente-removebg-preview.png" id="genitalia-frente" class="coloring-image genitalia-frente">
            <img src="../../../assets/corpo/quadricipes-direito-removebg-preview.png" id="quadricipes-direito-frente" class="coloring-image quadricipes-direito-frente">
            <img src="../../../assets/corpo/quadricipes-esquerdo-removebg-preview.png" id="quadricipes-esquerdo-frente" class="coloring-image quadricipes-esquerdo-frente">
            <img src="../../../assets/corpo/panturilha-direito-removebg-preview.png" id="panturilha-direito-frente" class="coloring-image panturilha-direito-frente">
            <img src="../../../assets/corpo/panturilha-esquerdo-removebg-preview.png" id="panturilha-esquerdo-frente" class="coloring-image panturilha-esquerdo-frente">
            <img src="../../../assets/corpo/pe-direito-removebg-preview.png" id="panturilha-esquerdo-frente" class="coloring-image pe-direito-frente">
            <img src="../../../assets/corpo/pe-esquerdo-removebg-preview.png" id="pe-esquerdo-frente" class="coloring-image pe-esquerdo-frente">
          </div>
          <div class="coloring-image-container">
            <img src="../../../assets/corpo-vermelho/fundo.png" alt="Imagem de Colorir" class="coloring-image" >
            <!-- <img src="../../../assets/corpo/tronco-frente-removebg-preview.png" alt="Imagem de Colorir" class="coloring-image" > -->
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
