<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">adm</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col >
        <div class="coloring-image-container">
          <img src="../../../assets/corpo-frente/antebraço-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/antebraço-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/biceps-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/biceps-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/tronco-frente.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/pescoço-frente.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/cabeça-frente.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/genitalia-frente.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/mao-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/quadricipes-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/quadricipes-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/mão-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/panturilha-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/panturilha-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/pe-frente-direito.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
          <img src="../../../assets/corpo-frente/pe-frente-esquerdo.png" alt="Imagem de Colorir" class="coloring-image" id="coloringImage" (click)="colorizeImage($event)">
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col >
        <div class="color-palette">
          <div class="color" style="background-color: red;" (click)="selectColor('red')"></div>
          <div class="color" style="background-color: blue;" (click)="selectColor('blue')"></div>
         
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
