<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AppDoctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-header collapse="condense" style="background-color: brown;">
      <ion-toolbar >
        <ion-title style="text-align: center;" size="large" >{{typeMed}}</ion-title>
      </ion-toolbar>
      <ion-breadcrumbs style="display: flex; justify-content: center;">
        <ion-breadcrumb href="#home">Inicio</ion-breadcrumb>
        <ion-breadcrumb href="#electronics">{{typeMed}}</ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-header>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let med of meds" (click)="getMed(med)">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-label>{{med.nome}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>

