<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AppDoctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item [color]="backgroundColor">
    <ion-label>
      <h1 style="text-align: center;font-size: 30px;"><b>Calculadora</b></h1>
      <ion-breadcrumbs color="light" style="display: flex; justify-content: center;" >
        <ion-breadcrumb (click)="back()">Inicio</ion-breadcrumb>
        <ion-breadcrumb (click)="back()">{{tipo}}</ion-breadcrumb>
        <ion-breadcrumb >{{item.nome}}</ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Apresentação Disponivel</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of dadosMedicamentos">        
        <ion-label>
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml'}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Calculo Medicamento</ion-card-subtitle>
    </ion-card-header>

    <!-- Calcular os medicamentos em mg/kg/dia e reverso-->
    <div *ngIf="item.dosagemTipo === 'mg/kg/dia'">
      <ion-segment (ionChange)="mgKgChanged($event)" value="mg/kg/dia">
        <ion-segment-button value="mg/kg/dia">
          <ion-label>
            mg/kg/dia
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="mg/kg">
          <ion-label>
            mg/kg
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      
      <div *ngIf="mgKgDia === 'mg/kg/dia'">
        <ion-card>
          <ion-card>
            <ion-label [color]="backgroundColor" style="display: flex; justify-content: center;">Há disfunção renal?</ion-label>
            <ion-segment (ionChange)="calculoRenalChanged($event)" value="não">
              <ion-segment-button value="não">
                <ion-label>Não</ion-label>
              </ion-segment-button>
              <ion-segment-button value="sim">
                <ion-label>Sim</ion-label>
              </ion-segment-button>
            </ion-segment>  
          </ion-card>

          <ion-card *ngIf="disfuncaoRenal === 'sim'">
            <ion-label [color]="backgroundColor" style="display: flex; justify-content: center;">Qual o seu gênero?</ion-label>
            <ion-segment (ionChange)="generoChanged($event)" value="masculino">
              <ion-segment-button value="masculino">
                <ion-label>Masculino</ion-label>
              </ion-segment-button>
              <ion-segment-button value="feminino">
                <ion-label>Feminino</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-card>

          <ion-item *ngIf="disfuncaoRenal === 'sim'">
            <ion-input label="Idade" labelPlacement="stacked" type="number" placeholder="Digite sua Idade" [(ngModel)]="idade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Peso(Kg)" labelPlacement="stacked" type="number" placeholder="Digite o Peso" [(ngModel)]="peso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item *ngIf="disfuncaoRenal === 'sim'">
            <ion-input label="Creatina(mg/dl)" labelPlacement="stacked" type="number" placeholder="Digite a Dosagem" [(ngModel)]="creatina" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Dosagem(mg/kg)" labelPlacement="stacked" type="number" placeholder="Digite a Dosagem" [(ngModel)]="dosagemMgKg" [step]="0.01"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button style="padding: 0.5rem;" [color]="backgroundColor" fill="outline" (click)="calculoMgKg()">
          <ion-icon slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMgKg">
          <ion-item detail="false" *ngFor="let dados of resultadoMgKg" >
            <div>
              <div style="padding-bottom: 1rem;">
                <ion-label class="ion-text-wrap">
                  <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
                  <p>{{dados.resultado + ' ml - ' + item.modoDeUso}}</p>
                </ion-label>
              </div>
              <div style="padding-bottom: 1rem;">
                <ion-label *ngIf="clearanceCreatinina >= 10 && clearanceCreatinina < 50" class="ion-text-wrap">
                  <h3>{{'CLCr 10 - 50 ml/min:'}}</h3>
                  <p>{{dados.resultado + ' ml a cada 48h' }}</p>
                </ion-label>
                <ion-label *ngIf="clearanceCreatinina < 10" class="ion-text-wrap">
                  <h3>{{'CLCr < 10 ml/min:'}}</h3>
                  <p>{{dados.resultado + ' ml a cada 72h' }}</p>
                  <p>{{'Hemodiálise: Dialisável (~20%)'}}</p>
                  <p>{{'Diálise intermitente: Administrar após hemodiálise:' + (dosagemMgKg /2)+ 'mg/kg a cada 48 horas'}}</p>
                </ion-label>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
     
      <div *ngIf="mgKgDia === 'mg/kg'">
        <ion-card>
          <ion-item>
            <ion-input label="Peso(Kg)" labelPlacement="stacked" type="number" placeholder="Digite o Peso" [(ngModel)]="peso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Volume(ml)" labelPlacement="stacked" type="number" placeholder="Digite o Volume" [(ngModel)]="volume" [step]="0.01"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button [color]="backgroundColor" style="padding: 0.5rem;" fill="outline" (click)="calculoMgKgReverso()">
          <ion-icon slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMgKgReverso">
          <ion-item detail="false" *ngFor="let dados of resultadoMgKgReverso">
            <ion-label class="ion-text-wrap">
              <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
              <p>{{dados.resultado + ' mg/Kg - ' + item.modoDeUso}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </div>

   <!-- Calcular os medicamentos em mcg/kg/dia e o calculo reverso-->
     <div *ngIf="item.dosagemTipo === 'mcg/kg/min'">
      <ion-segment (ionChange)="mcgKgminChanged($event)" value="mcg/kg/min">
        <ion-segment-button value="mcg/kg/min">
          <ion-label>
            mcg/kg/min
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="ml/h">
          <ion-label>
            ml/h
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      
      <div *ngIf="mcgKgMin === 'mcg/kg/min'">
        <ion-card>
          <ion-item>
            <ion-input label="Peso(Kg)" labelPlacement="stacked" type="number" placeholder="Digite o Peso" [(ngModel)]="peso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Dose a ser administrada(mcg/kg/min)" labelPlacement="stacked" type="number" placeholder="Digite a Dosagem" [(ngModel)]="doseCalculo" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(mg)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(ml)" [(ngModel)]="medicamentoMg" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(mg)" [(ngModel)]="medicamentoMl" [step]="0.01" (input)="calculoSolucaoTotal()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Quantidade de soro(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade de Soro(ml)" [(ngModel)]="soroGlicosado" [step]="0.01" (input)="calculoSolucaoTotal()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Solução total(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade da Solução Total(ml)" [(ngModel)]="solucaoTotal" [step]="0.01" (input)="calculoSoroGlicosado()"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button [color]="backgroundColor" style="padding: 0.5rem;" fill="outline" (click)="calculoMcgKg()">
          <ion-icon  slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMcgKg">
          <ion-item detail="false" *ngFor="let dados of resultadoMcgKg">
            <ion-label class="ion-text-wrap">
              <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
              <p>{{dados.resultado + ' ml/h - ' + item.modoDeUso}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
      
      <div *ngIf="mcgKgMin === 'ml/h'">
        <ion-card>
          <ion-item>
            <ion-input label="Peso(Kg)" labelPlacement="stacked" type="number" placeholder="Digite o Peso" [(ngModel)]="peso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Vazão(ml/h)" labelPlacement="stacked" type="number" placeholder="Digite o Volume" [(ngModel)]="vazao" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(mg)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(ml)" [(ngModel)]="medicamentoMgReverso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(mg)" [(ngModel)]="medicamentoMlReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Quantidade de soro(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade de Soro(ml)" [(ngModel)]="soroGlicosadoReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Solução total(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade da Solução Total(ml)" [(ngModel)]="solucaoTotalReverso" [step]="0.01" (input)="calculoSoroGlicosadoReverso()"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button [color]="backgroundColor" style="padding: 0.5rem;" fill="outline" (click)="calculoMcgKgReverso()">
          <ion-icon  slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMcgKgReverso">
          <ion-item detail="false" *ngFor="let dados of resultadoMcgKgReverso">
            <ion-label class="ion-text-wrap">
              <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
              <p>{{dados.resultado + ' mcg/kg/min - ' + item.modoDeUso}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </div>

     <!-- Calcular os medicamentos em mcg/min e o calculo reverso-->
    <div *ngIf="item.dosagemTipo === 'mcg/min'">
      <ion-segment (ionChange)="mcgMinChanged($event)" value="mcg/min">
        <ion-segment-button value="mcg/min">
          <ion-label>
            mcg/kg/min
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="ml/h">
          <ion-label>
            ml/h
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      
      <div *ngIf="mcgMin === 'mcg/min'">
        <ion-card>       
          <ion-item>
            <ion-input label="Dose a ser administrada(mcg/kg/min)" labelPlacement="stacked" type="number" placeholder="Digite a Dosagem" [(ngModel)]="doseCalculo" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(mg)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(ml)" [(ngModel)]="medicamentoMg" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(mg)" [(ngModel)]="medicamentoMl" [step]="0.01" (input)="calculoSolucaoTotal()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Quantidade de soro(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade de Soro(ml)" [(ngModel)]="soroGlicosado" [step]="0.01" (input)="calculoSolucaoTotal()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Solução total(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade da Solução Total(ml)" [(ngModel)]="solucaoTotal" [step]="0.01" (input)="calculoSoroGlicosado()"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button [color]="backgroundColor" style="padding: 0.5rem;" fill="outline" (click)="calculoMcgMin()">
          <ion-icon  slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMcgMin">
          <ion-item detail="false" *ngFor="let dados of resultadoMcgMin">
            <ion-label class="ion-text-wrap">
              <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
              <p>{{dados.resultado + ' ml/h - ' + item.modoDeUso}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
      
      <div *ngIf="mcgMin === 'ml/h'">
        <ion-card>         
          <ion-item>
            <ion-input label="Vazão(ml/h)" labelPlacement="stacked" type="number" placeholder="Digite o Volume" [(ngModel)]="vazao" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(mg)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(ml)" [(ngModel)]="medicamentoMgReverso" [step]="0.01"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Medicamento(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade(mg)" [(ngModel)]="medicamentoMlReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Quantidade de soro(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade de Soro(ml)" [(ngModel)]="soroGlicosadoReverso" [step]="0.01" (input)="calculoSolucaoTotalReverso()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Solução total(ml)" labelPlacement="stacked" type="number" placeholder="Digite a Quantidade da Solução Total(ml)" [(ngModel)]="solucaoTotalReverso" [step]="0.01" (input)="calculoSoroGlicosadoReverso()"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button [color]="backgroundColor" style="padding: 0.5rem;" fill="outline" (click)="calculoMcgMinReverso()">
          <ion-icon  slot="start" name="calculator-outline"></ion-icon>
          Calcular
        </ion-button>
        <div *ngIf="resultadoMcgMinReverso">
          <ion-item detail="false" *ngFor="let dados of resultadoMcgMinReverso">
            <ion-label class="ion-text-wrap">
              <h3>{{item.nome + ' ' + dados.quantidadeMg + 'mg/' + dados.quantidadeMl + 'ml :'}}</h3>
              <p>{{dados.resultado + ' mcg/min - ' + item.modoDeUso}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Indicação</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of indicacoes">
        <ion-label>
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Dose</ion-card-subtitle>
    </ion-card-header>
    <ion-list >
      <ion-item *ngFor="let dados of dosagem">
        <ion-label class="ion-text-wrap">
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados.problema}}
        </ion-label><br>
        <ion-label *ngIf="dados.usoDose.usoInicial != '' " class="ion-text-wrap">
          <strong>Inicial: </strong>{{dados.usoDose.usoInicial}}
        </ion-label>
        <ion-label *ngIf="dados.usoDose.usoManutencao != '' " class="ion-text-wrap">
          <strong>Manutenção: </strong>{{dados.usoDose.usoManutencao}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Preparo / Diluição</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of preparoDiluicao">
        
        <ion-label class="ion-text-wrap">
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Administração</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of administracao">        
        <ion-label class="ion-text-wrap">
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Contra Indicação</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of contraIndicacoes">
        <ion-label class="ion-text-wrap">
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>   
      <ion-card-subtitle>Uso Durante a Gestação</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let dados of usoGestacao">
        <ion-label class="ion-text-wrap">
          <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
          {{dados}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
